<ion-card *ngIf="item">
  <ion-card-header>
    <card-header [item]="item"></card-header>
  </ion-card-header>

  <ion-card-content>
    {{item.text}}
  </ion-card-content>

  <ion-row no-padding>
    <!--<ion-col>-->
      <!--<button ion-button clear small color="hacker" >-->
        <!--{{item.score}} points-->
      <!--</button>-->
    <!--</ion-col>-->
    <ion-col>
      <button ion-button clear small color="hacker" *ngIf="item.type=='story' || item.type=='poll'"
        (click)="openComments()">
        <div *ngIf="item.descendants!=1">{{item.descendants}} Comments</div>
        <div *ngIf="item.descendants==1">1 Comment</div>
      </button>
    </ion-col>
  </ion-row>
</ion-card>
